<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/index.css">
	<script type="text/javascript" src="../assets/js/vue.js"></script>
	<script type="text/javascript" src="../assets/js/index.js"></script>
</head>
<body>
<hr>
<div id="app">
	<el-button @click="visible = true">
		<div>Login</div>
	</el-button>

	<el-dialog v-model="visible" size="mini">
		<p>Username: </p>
		<el-input placeholder="Username" v-model="input"></el-input>
		<p>Password: </p>
		<el-input placeholder="Password" v-model="input" input type="password" minlength="4"></el-input>
		<br style = “line-height:2”><br>
		<el-button type="primary" size="small" @click="tab.dialogVisible = true">Sign in</el-button>
		<el-button type="primary" size="small" @click="tab.dialogVisible = true">Register</el-button>
	</el-dialog>
</div>

<script type="text/javascript">
	var app = new Vue({
		el: "#app",
		data: function() {
			return { visible: false }
		}
	})
</script>


</body>
</html>